@model PCFIX.Models.OrdenDeTrabajo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>OrdenDeTrabajo</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">Estas seguro que lo queres eliminar?</h4>
				 <dl class="dl-horizontal">

		<dt>
			Cliente
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Cliente.Apellido), @Html.DisplayFor(model => model.Cliente.Nombre)
		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProblableEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProblableEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caracteristicas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEquipo.Nombre)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEstado.Nombre)
        </dd>

        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMarca.Nombre)
        </dd>

        <dt>
            Trabajo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTrabajo.Nombre)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
			<a href="javascript:void(0);" class="btn btn-white" onclick="history.go(-1);">Volver a Listado</a>
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


